# You need to have a tailscale machine in your homelab that advertises your network subnet to allow this tailscale container route traffic to your internal resources.

# In Zoraxy SSO, configure the forward auth to point to: http://tinyauth:3000/api/auth/traefik
# and then add a HTTP proxy (e.g. auth.example.com) to point to tinyauth:3000

# To create a user in Tinyuth, run the below command:
# docker run -i -t --rm ghcr.io/steveiliop56/tinyauth:latest user create --interactive
# Copy the output to the variable USERS in the .env file

# Also enable TOTP with this command:
# docker run -i -t --rm ghcr.io/steveiliop56/tinyauth:latest totp generate --interactive
# You also need to verify it to take effect
# docker run -i -t --rm ghcr.io/steveiliop56/tinyauth:latest user verify --interactive

# Stream proxy ports must be add the ports section under tailscale service for them to work    
# You may remove port 8000 once you create a HTTP proxy (e.g. console.example.com) pointing to tailscale:8000

# If you use Home Assistant, you'll need to add the tailscale container's IP address as a trusted proxy in Home Assistant configuration.yaml
#
# http: 
#   use_x_forwarded_for: true 
#   trusted_proxies:
#   - 100.90.26.89 (change this IP to your tailscale IP)


x-common: &common-options
  restart: always
  env_file: .env
  
services:
  tailscale:
    <<: *common-options
    image: tailscale/tailscale:latest
    container_name: tailscale
    ports:
      - 80:80
      - 443:443
      - 8000:8000
    environment:
      - TS_EXTRA_ARGS=--accept-routes
      - TS_STATE_DIR=/var/lib/tailscale
      - TS_USERSPACE=false
    volumes:
      - ./tailscale:/var/lib/tailscale
      - /etc/localtime:/etc/localtime:ro
    devices:
      - /dev/net/tun:/dev/net/tun
    cap_add:
      - NET_ADMIN
      
  zoraxy:
    <<: *common-options
    image: zoraxydocker/zoraxy:latest
    container_name: zoraxy
    network_mode: service:tailscale
    volumes:
      - ./zoraxy/config:/opt/zoraxy/config/
      - ./zoraxy/plugin:/opt/zoraxy/plugin/
      - /var/run/docker.sock:/var/run/docker.sock
      - /etc/localtime:/etc/localtime:ro
    depends_on:
      - tinyauth
      - tailscale
      
  tinyauth:
    <<: *common-options
    image: ghcr.io/steveiliop56/tinyauth:latest
    container_name: tinyauth
    volumes:
      - ./tinyauth:/data
      - /etc/localtime:/etc/localtime:ro
